/* .login-container .login-slide-container .login-slide h3 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    letter-spacing: 0.001em;
    color: #ffffff;
} */